.container {
  border: 1px solid #000;
  border-radius: 0.3rem;
  background-color: #fff;
  color: #000;
  text-decoration: none;
  padding: 0.5rem 0.4rem;
  display: flex;
  height: fit-content;
  width: fit-content;
  align-items: center;
  gap: 0.4rem;
  font-weight: 500;
  font-size: 1rem;
  cursor: pointer;
  svg {
    height: 0.9rem;
  }
}
